body {
  margin: 0;
  width: 500px;
  padding-inline: 2rem;
  background-color: rgb(250, 246, 240);
}
header {
  width: 90%;
}

header h1 {
  margin-left: 2rem;
}

#container {
  padding-inline: 2rem;
  background-color: antiquewhite;
  padding-top: 2rem;
}

.question {
  margin-bottom: 1rem;
}
